<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Web Scraper</title>
  </head>
  <body>
    <h1>Webscraper!</h1>

    <p>click button to start scraping from websites </p>
    <br>
    <br><br><br>
    <!-- <p>Testing downloading image</p>
    <form class="grid" action="/imgdownloader" method="POST">
      <button type="Submit" class="btn btn-primary">Get Image</button>
    </form> -->
   
    <center>
      <table class ="table table-hover" style="width:50%"></tableclass>
        <tr>
          <th>Website</th>
          <th>Traditional</th>
          <th>Comfort Style</th>
          <th>Evening Look</th>
        </tr>
        <tr>
          <td><a href="https://www.getducked.com/" target="_blank">getducked.com</a></td>
          <td>
            <form class="grid" action="/resultT1" method="POST">
              <button type="Submit" class="btn btn-primary">Start</button>
           </form>
          </td>
          <td> 
            <form class="grid" action="/resultC1" method="POST">
              <button type="Submit" class="btn btn-primary">Start</button>
           </form>
          </td>
          <td> 
            <form class="grid" action="/resultE1" method="POST">
              <button type="Submit" class="btn btn-primary">Start</button>
           </form>
          </td>
        </tr>
        <tr>
          <td><a href="https://www.lilitstore.com/" target="_blank">lilitstore.com</a></td>
          <td>
            <form class="grid" action="/resultT2" method="POST">
              <button type="Submit" class="btn btn-primary">Start</button>
           </form>
          </td>
          <td> 
            <form class="grid" action="/resultC2" method="POST">
              <button type="Submit" class="btn btn-primary">Start</button>
           </form>
          </td>
          <td> 
            <form class="grid" action="/resultE2" method="POST">
              <button type="Submit" class="btn btn-primary">Start</button>
           </form>
          </td>
        </tr>
        <tr>
            <td><a href="https://my.naelofar.com/" target="_blank">naelofar.com</a></td>
            <td>
            <form class="grid" action="/resultT3" method="POST">
              <button type="Submit" class="btn btn-primary">Start</button>
           </form>
          </td>
          <td>Not Available</td>
          <td>Not Available</td>
          </tr>
      </table> 
    </center>

    <center>
      <form class="grid" action="/logout" method="POST">
        <button type="Submit" class="btn btn-outline-success">Logout</button>
      </form>
    </center>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>

